<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница  (Шок)</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="header">
        <h2>Это Главная страница</h2>
</header>
<div class="cont"> 
    <h3>Это правила как пользоваться этим сайтом</h3>
    <p>Нужно сделать запрос: <a href="http://localhost:3000/10/news/for/business">localhost:3000/10/news/for/business</a></p>
    <p>Где: </p>
    <ul>
        <li>10 - кол-во новостей (Максимум 10)</li>
        <li>business - категория</li>
    </ul>
</div>
</body>
</html>